<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>darwintests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>libdispatch dyld stub.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>libdispatch introspection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>libdispatch mp resolved.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libdispatch mp static.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>libdispatch no resolver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>libdispatch up resolved.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>libdispatch up static.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>libdispatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>libdispatch_Sim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>libdispatch_kernel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>libdispatch_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>libdispatch_tests_legacy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>libdispatch_tools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>libfirehose_kernel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>libfirehose_server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F3C9326128E637B0042B1F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4552540A19B1389700B88766</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E040C621C499B1B00411A2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E2ECAFD1C49C2FF00A30A32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EB4E4081BA8BCAD00D7B9D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92CBD7201BED924F006E0892</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92F3FECA1BEC69E500025962</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C00B0DF01C5AEBBE000330B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C01866A41C5973210040FC07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C927F35A10FD7F0600C5AB8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2AAC045055464E500DB518D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E46DBC1A14EE10C80001F9F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E49F24A9125D57FA0057C971</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4B51595164B2DA300E003AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4EC118F12514302000DDBD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4EC121612514715000DDBD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
